// uncomment the chunk below to add nf tower monitoring.
//tower {
//  enabled = true
//   accessToken = 'ADD_YOUR_TOKEN_HERE'
//}


singularity.enabled = true

process {
    executor = 'slurm'
    queue = 'standard'
    errorStrategy = 'retry'
    maxRetries = 3
}

executor {
    name = 'slurm'
    queueSize = 20
}

// Common environment settings
env {
    LC_ALL = "en_US.UTF-8"
    LANG = "en_US.UTF-8"
}


//set profiles for different types of runs
profiles {
    fastp {
        executor {
            name = 'slurm'
            queueSize = 40
        }
        process {
            withName: fastp {
                cpus = 4
                memory = { 2.GB * task.attempt }
                time = { 30.min * task.attempt }
            }
        }
    }
    trimmomatic {
        executor {
            name = 'slurm'
            queueSize = 20
        }
        process {
            withName: trimmomatic {
                cpus = 8
                memory = { 4.GB * task.attempt }
                time = { 60.min * task.attempt }
            }
        }
    }
}
