// optional- talk to me if you want to use this. Basically lets you track your jobs via https://cloud.seqera.io/
//tower {
//  accessToken = System.getenv('TOWER_ACCESS_TOKEN')
//    enabled = true
//}

singularity.enabled = true

process {
    executor = 'slurm'
    queue = 'standard'
    errorStrategy = 'retry'
    maxRetries = 3
}

executor {
    name = 'slurm'
    queueSize = 25
}

// Common environment settings
env {
    LC_ALL = "en_US.UTF-8"
    LANG = "en_US.UTF-8"
}


//set profiles for different types of runs
profiles {
    fastp {
        executor {
            name = 'slurm'
            queueSize = 25
        }
        process {
            withName: fastp {
                cpus = 4
                memory = { 2.GB * task.attempt }
                time = { 30.min * task.attempt }
            }
        }
    }
}
